
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fafafa;
  }

  main {
    flex: 1 0 auto;
  }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/*.card-image {
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    max-width: 100%;
    overflow-x: hidden;

}

.card-image img { 
    height: 100%; 
    position:absolute;

}*/

.center-cropped {
  object-fit: cover; /* Do not scale the image */
  object-position:  50% 50%; /* Center the image within the element */
  height: 340px;
  width: 340px;
  overflow:hidden;
}

.container {
    min-height: 81vh;
    /* equal to footer height
    margin-bottom: -50px;*/
}

.container:after {
    content: "";
    display: block;
}

footer.page-footer {

  margin-bottom: 0px;     
  padding-top: 0px;
  width:100%;
  height: 50px;
    
}

.posted-by {
    font-size: 0.8em;
}

.posted-by a, .card .card-action i, .card .card-action a {
    color: teal;
}
    
.posted-by a, .card .card-action i, .card .card-action a:hover {
  color: cadetblue;
}

.side-nav {
    background-color: teal;
}

/*copied from sample*/
.card-container {
    width:400px; 
    padding:10px; 
    border:1px solid #aaa; 
    margin:0 10px 10px 0; 
    float:left; 
    color:#333; 
    background-color:#eee; 
}

#signup, #login {
    top: 35%;
    width: 500px;
}

#signup-card, #login-card {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: 500px;
}

.modal {
    width: 500px;
}

#signup-card h2, #signup-card a, #login-card h2, #login-card a, #signup-card h4, #login-card h4 {
    color: teal;
}

#signup-card input, #login-card input {
    color: black;
    font-size: larger;
}


nav ul a {
    display: inline;
}

.filters .tabs .tab a {
    background-color: #fafafa;
}

a.log-out:hover {
    color: #ee6e73;
}

span.username {
    color: #f9c9cb;
    font-weight: bold;
}

 span.like {
     font-size: 24px;
     display: inline;
     margin-right: 10px;
     color: cadetblue;
     line-height: 1;
     box-sizing: inherit;
     vertical-align: top;
  }

.card .card-action a {
    margin-right: 0px;
}

nav ul li.user-info:hover, nav ul li.user-info.active {
   background-color: #4db6ac;
}