<div class='col s12 m12 l4'>
    <div class='card' data-id="<%= objectId %>">
        <div class='card-image'>
            <img class='center-cropped' src='<%= url %>' alt=""/>
        </div>
        <div class='card-content'><p><%= description %></p>
            <div class='posted-by'><BR>Posted by <a href='#' class="byAuthor"><%= author %></a></div>
        </div>
        <div class='card-action'><a href='#' class="like"><i class='material-icons'>favorite</i></a><span class="like"><%= liked %></span>
            <a href='#'><i class='material-icons white-text'>share</i></a>
            <a href='#' class='right remove-card remove-link'>Remove</a>
        </div>
    </div>
</div>