<div class="modal fade" id="confirm-modal">
    <div class="modal-dialog">
        <div class="modal-content center-align">
            <div class="modal-header">
                <h4 class="modal-title">Are You Sure?</h4>
                <h5>This card will be permanently deleted.</h5>
                <BR>
            </div>
            <div class="modal-body">
            </div>
            <!--<div class="modal-footer center">
                <button type="button" class="btn btn-default modal-action modal-close waves-effect waves-green btn-flat" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary btn-ok modal-action modal-close waves-effect waves-green btn-flat" data-dismiss="modal">OK</button>
            </div>-->
            <a href="#!" class="waves-effect waves-green btn-flat confirm-button">Yes, delete!</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat cancel-button" data-dismiss="modal">Cancel</a>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

