<div class='modal'>
    <div class='center modal-content' id='create-card'>
        <form class="create-form">
            <h2>One more thing?</h2>
            <div class="error" style="display:none"></div>
            <input type="url" id="image-url" placeholder="Image URL" />
            <div class="input-field col s12 pin-bottom">
                <textarea id="create-textarea" class="materialize-textarea" maxlength="800" length="800"></textarea>
                <label for="create-textarea">So what do you like to do in St. Petersburg?</label>
            </div>
            <a href="#!" class="waves-effect waves-green btn-flat create-button">Submit</a>
            <a href="#!" class="waves-effect waves-green btn-flat cancel-button">Cancel</a>
        </form>
    </div>

</div>