<div class="modal">
    <div class='card center modal-content' id="login-card">
        <form class="login-form">
            <h2>Log In</h2>
            <h4>to post, like and collect!</h4>
            <div class="error" style="display:none"></div>
            <input type="text" id="login-username" placeholder="Username" />
            <input type="password" id="login-password" placeholder="Password" />
            <a href="#!" class="waves-effect waves-green btn-flat login-button">Log In</a>
            <a href="#!" class="waves-effect waves-green btn-flat cancel-button">Cancel</a>
        </form>
    </div>
</div>