    <div class="modal">
        <div class='card center modal-content' id="signup-card">
            <form class="signup-form">
                <h2>Sign Up</h2>
                <div class="error" style="display:none"></div>
                <input type="text" id="signup-username" placeholder="Username" />
                <input type="password" id="signup-password" placeholder="Create a Password" />
                <a href="#!" class="waves-effect waves-green btn-flat signup-button">Sign Up</a>
                <a href="#!" class="waves-effect waves-green btn-flat cancel-button">Cancel</a>
            </form>
        </div>
    </div>
